.allitems {
    align-self: center;
}

.page__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    row-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.tag__banner {
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex-direction: row;
    justify-self: center;
}

.strip {
    background-color: rgb(71,143,206);
    flex-grow: 1;
    height: 5px;
}

.AAtag {
    background-color: rgb(71,143,206);
    color: white;
    width: fit-content;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 2;
}

.TAtag {
    background-color: rgb(61,131,59);
    color: white;
    width: fit-content;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 2;
}

.page__content {
    justify-self: center;
    padding: 20px;
    width: 100%;
    justify-self: center;
}

.main__content {
    max-width: inherit;
    white-space: normal;
    overflow-x: hidden;
    overflow-wrap: break-word;
    padding: 0;
}

.rich__text {
    max-width: inherit;
    white-space: normal;
    overflow-x: hidden;
    overflow-wrap: break-word;
    padding: 0;
}

.main__title {
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding-bottom: 30px;
}

.footer__content{
    justify-self: center;
}

.back__button {
    background-color: rgb(231, 46, 150);
    color: white;
    padding: 10px;
    bottom: 30px;
    left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: rgb(231, 46, 150);
    border-width: thin;
    font-size: 1.2em;
    text-decoration: none;
    border-style: solid;
}

a.back__button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

a.back__button:hover {
    color: rgb(231, 46, 150);
    background-color: white;
    text-decoration: none;
}

@media only screen and (max-width: 900px) {

    .tag__banner {
        width: 100%;
    }

    .strip {
        width: 0;
        color: white;
    }

    .AAtag {
        width: 50%;
        height: fit-content;
        text-align: center;
        overflow-wrap: break-word;
    }

    .TAtag {
        width: 50%;
        height: fit-content;
        overflow-wrap: break-word;
        text-align: center;
    }
}